# Welcome to Python Lab

In [100]:
print("Welcome Python Learners!!")

Welcome Python Learners!!

# Variables

In [101]:
#variable stores some value
x="Hello!"

In [102]:
x

'Hello!'

In [103]:
y=5

In [104]:
print(y)

5

Suitable variable names

In [105]:
my_value=78

In [1]:


_my=78.0

In [111]:
x,y,z=1,2,3

print(x,y,z)

1 2 3

In [112]:
x=y=z=10
print(x,y,z)

10 10 10

# Datatypes

In [2]:
y=667 #integer variable
x=3.14 #float variable
z="Hi!" #string variable
p=4+5j #complex variable
q=True #boolean variable

In [114]:
#finding the datatypes of variables
print(type(y))
print(type(x))
print(type(z))
print(type(p))
print(type(q))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>

In [115]:
#boolean value written under cotations then it's a string 
val="False"
print(val)
print(type(val))

False
<class 'str'>

In [116]:
a = 5+8j
b = 6+9j
print(a+b)
print(type(a))

# For taking real or imaginary part separately
print(a.real, ' ',  a.imag)

(11+17j)
<class 'complex'>
5.0   8.0

In [117]:
l = [10,12,'vivek',13]
print(type(l))

<class 'list'>

In [118]:
s = {10,12,'vivek',13}
print(type(s))

<class 'set'>

In [119]:
d = {101:'name', 102:'class',102:'year'}
print(type(d))

<class 'dict'>

In [4]:
s = {10,20,12,'vivek', 20} #here elements of the set can be modified
fs = frozenset(s) #frozenset means the elements in the set can't be modified
print(type(s))
print(type(fs))
print(fs)
print(s)
s={10,20,12,'vivek',20,25}
print(s)
#fs[0]=11
#print(fs)

<class 'set'>
<class 'frozenset'>
frozenset({'vivek', 10, 20, 12})
{'vivek', 10, 20, 12}
{10, 12, 'vivek', 20, 25}

In [126]:
r = range(10)
print(type(r))
print(r)

<class 'range'>
range(0, 10)

In [127]:
t = (10,12,'vivek',13)
print(type(t))

<class 'tuple'>

In [128]:
#finding the id of an variable
id(val)

2177656169456

In [129]:
print(id(y))
print(id(x))
print(id(z))
print(id(p))
print(id(q))

2177725461840
2177725460880
2177726343536
2177725461136
140725056694096

In [130]:
print("id of y is->",id(y))

id of y is-> 2177725461840

In [131]:
#Input by user
name = input("Enter your name:")

Enter your name:Supreeti

# Operators

Arithmetic Operators

In [132]:
a= 10
b = 5

print(a+b)  # Addition

print(a-b)  # Subtraction

print(a*b)  # Multiplication

print(a/b)  # Division and it will always return float values

print(a%b)  # Modulo it finds the remainder

print(a//b)  # Floor Division it will give o/p in float if any number is float otherwise int

print(a**b)  # Exponent Power Operator it is used to raise the 1st operand to power of 2nd


# We can use + (concatenation  operator)  and *(Str multiplication op. ) for str also

print("Ram"+'Shyam'*3)

15
5
50
2.0
0
2
100000
RamShyamShyamShyam

Relational Operators

In [2]:
# >,<,<=,>= are the relational operators
a = 10
b = 5
print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)


# We can apply for strings also

print('a'>'ab')
print(ord('a'))
print(ord(''))
print('bcd'>'w')

True
False
False
True
True
False
False
97

TypeError: ord() expected a character, but string of length 2 found

Logical Operators

In [134]:
#mainly logical operators are used for conditional statements
a=5
print( a < 10 or a > 5)
print(a < 10 and a > 5)
print(not a)

True
False
False

Bitwise Operators

In [137]:
a=10 #1010
b=4 #0100

print(a & b) # If both are is not zero(False) o/p will be True otherwise False

print(a | b) # If any digit is not zero o/p will be True otherwise False

print(~a) # Bitwise complement (complement of 0000 1010)-1111 0101

print(a ^ b)  # If bits are different then result is 1 otherwise 0

0
14
-11
14

In [138]:
a=10 #in binary no. it is 0000 1010

print(a >> 1) #right shift in binary form

a=-10 #1000 1010 

print(a >> 1)

b=5

print(b << 1) #left shift in binary form

b=-10

print(b << 1)

5
-5
10
-20

Identity Operators

In [139]:
#It is used to compare objects
a = 10.5
b = 10.5
print(a is b)
print(a is not b)

x = 5+6j
z = 5+6j

print(x is z)
print(x is not z)

False
True
False
True

Assignment operators

In [140]:
a = 31
b = 10
c = 0

c=a+b
print(c)

c += a #c=c+a
print(c)

c *= a
print(c)

c /= a
print(c)

c=3

c %= a
print(c)

c **= a
print(c)

c //= a
print(c)

41
72
2232
72.0
3
617673396283947
19924948267224

Membership Operators

In [141]:
#It has in & not in
#it checks if a sequence is present in an object
a = 'Vivek is a great man'
list = [10,13,14]
c =10

print('v' in a)  
print(c in list)

True
True

Ternary Operator

In [142]:
x=30 if 10>40 else 40 #condition?option1:option2
print(x)

40

In [143]:
#  Print min one
a = 3
b = 7
min = a if a<b else b
print(min)

3

# Typecasting

In [149]:
# bool() is used to convert one type to bool'

print (bool(0))
print(bool(-5))
print(bool("True"))
print(bool("2345678o"))
print(bool(""))
print(bool(10+9j))

False
True
True
True
False
True

In [145]:
#  complex() function to convert  in complex from,
# While  converting str, it should  be  in form of integral value or float

print(complex(10))
print( complex(10.5))
print( complex("10.5"))
print( complex("10"))
print( complex(True))
print( complex(False))


#  complex(x,y) for creating  x real and  y imag

print(complex(10,-23))
print(complex(1,8))

(10+0j)
(10.5+0j)
(10.5+0j)
(10+0j)
(1+0j)
0j
(10-23j)
(1+8j)

In [152]:
#  float() function for conversion from

float(10)
# float(10+5j)  #cant convert complex  to float

print(float(10))
print(float("10"))
print(float("10.5"))

# While converting str to float, str must be in form of integral or floating point literal
float("10.5")

10.0
10.0
10.5

10.5

In [153]:
#  int() is used to  convert  values from  other types to int. We  cant convert complex to int

# float to int
print(int(1.234))



# bool to int
print (int(True))
print (int(False))

# Numeric str(whole numbers)  to int
str = "10"
print(int(str))

# For converting from str  to int,  str must contain  only integral value in base 10 form

print(int(0O100))

1
1
0
10
64

# String Operations

In [155]:
#Length of a string
a="hello!"
print(len(a))

6

In [157]:
#Checking certain phrase or character in the string
t="Hard work and determination leads to success "
print("leads" in t)
print("Hard work" not in t)
print("Hardwork" not in t)

True
False
True

In [165]:
b="Hello World!!"
print(b[2:5]) 
print(b[:5]) 
print(b[2:])
print(b[-5:-2]) 
print(b[2:5:]) 
print(b[4::]) 
print(b[::]) 
print(b[2:8:2])
print(b[::-1])
print(b[-10:8])

llo
Hello
llo World!!
rld
llo
o World!!
Hello World!!
loW
!!dlroW olleH
lo Wo

In [166]:
#returns string in uppercase
b="Hello World!!"
print(b.upper())
print(b.lower())

HELLO WORLD!!
hello world!!

In [167]:
#String Concatenation
str1="Hello"
str2="World"
str=str1 + str2
print(str)
print(str1 + ' ' + str2)

HelloWorld
Hello World

In [168]:
#Qno1-Slice & Convert the following text into lowercase & uppercase
#input:- My dog maxx performs the sTuntS Under EXperT suPErVIsion. 
#output:- My dog MAXX performs the stunts under expert spervision.
a="My dog maxx performs the sTuntS Under EXperT suPErVIsion."
print(len(a))
print(a[0:7] + a[7:11].upper() + a[11:].lower())

57
My dog MAXX performs the stunts under expert supervision.

In [169]:
#Removing whitespaces using strip function
str="  PYTHON  "
print(str.strip())
#Removing whitespaces on right side using rstrip function
str="  PYTHON  "
print(str.rstrip())
#Removing whitespaces on left side using lstrip function
str="  PYTHON  "
print(str.lstrip())

PYTHON
  PYTHON
PYTHON

In [171]:
#split() method that returns a list where the text between the specified separator becomes the list items
a="My handwriting, is not good as, expected."
print(a.split(","))

['My handwriting', ' is not good as', ' expected.']

In [176]:
#Finding the position of the word
str="python is very easy to learn"
print(str.find("easy"))
print(str.find("very"))
print(str.rfind("easy")) #searching from right to left

15
10
15

In [178]:
#Replacing the word in a string
str="python is very easy to learn"
str.replace("easy","difficult")
str.replace("o","a")

'pythan is very easy ta learn'

In [181]:
#String format
age = '36'
txt = "My name is John, I am " +age
print(txt)

My name is John, I am 36

In [182]:
a = "My name is John"
b = " and I'm from Odisha"
print(f"{a}{b}")

My name is John and I'm from Odisha

In [186]:
#String formatting using format()
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [187]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [188]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

Escape Character:

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

In [189]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [190]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [191]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [192]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [193]:
txt = "Hello\rWorld!"
print(txt)

World!

In [194]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [196]:
#This example erases one character (backspace):
txt = "Hello\bWorld!"
print(txt)

HelloWorld!