In [1]:
#write a program to input name,marks and phone number of a student and format it using the format fuction
name = input("Enter your name :")
marks = int(input("Enter your marks :"))
ph_number = int(input("Enter your phone number :"))
print("The student name is {} and her mark is {} and her phone number is {}".format(name,marks,ph_number))

Enter your name :Monali
Enter your marks :84
Enter your phone number :1112233344
The student name is Monali and her mark is 84 and her phone number is 1112233344

In [2]:
#a list contains the multiplication table of 7 write a program to convert them to a vertical string of same number.
l = [str(i*7) for i in range(1,11)]
x = "\n".join(l)
print(x)

7
14
21
28
35
42
49
56
63
70

In [3]:
#write a program to filter a list of numbers which are divisible by 5
num_list=[1,90,33,76,85,27,40,99,5,37,60]
result=list(filter(lambda x : x%5 == 0,num_list))
print(result)

[90, 85, 40, 5, 60]

In [4]:
#write a program to find the maximum of the numbers in a list using reduce function
from functools import reduce
l=[3,8,9,5,6,1]
a=reduce(max,l)
print(a)

9

In [5]:
l=[1,90,33,76,85,27,40,99,5,37,60]
x=list(filter(lambda x : x%5 == 0,l))
print(x)

[90, 85, 40, 5, 60]

In [6]:
#Python Program to Map two lists into a Dictionary
fruits=["apple","mango","grapes"]
price=[50,100,30]
d=dict(zip(fruits,price))
print(d)

{'apple': 50, 'mango': 100, 'grapes': 30}

In [7]:
#Generate a Python list of all the even numbers between two given numbers
even_list=[i for i in range(2,20) if i%2==0]
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18]